.inputField
  display: flex
  flex-direction: column

  &__input
    width: 100%

    &Container
      position: relative
      display: flex

  &__clear
    position: absolute
    top: 2px
    right: 5px

  &__error
    color: red