.inputField
  display: flex
  flex-direction: column

  &__input
    width: 100%

    &Container
      position: relative
      display: flex

  &__clear
    position: absolute
    top: 50%
    transform: translateY(-50%)
    right: 5px
    cursor: pointer

  &__error
    color: red